#viewport {
    width: 1000px;
    height: 600px;
    overflow: hidden;
    position: relative;
    background-image:
            url(../img/bg-03.png),
            url(../img/bg-02.png),
            url(../img/bg-01.png),
            url(../img/bg-00.jpg);
    background-size:cover;
    animation: backgroundscroll 50s linear infinite;
}
#viewport:after {
    content:"";
    display:block;
    width: 1000px;
    height: 600px;
    overflow: hidden;
    position: absolute;
    top:0;
    left:0;
    background-image:
            url(../img/bg-04.png);
    background-size:cover;
    animation: backgroundscroll 50s linear infinite;
}

#viewport .player {
    position: absolute;
    top: 0;
    left: 0;
}

.player {
    width: 32px;
    height: 32px;
    background: url(../img/player.png);
    background-position-y: -96px;
    transition: transform .2s linear;
}

.enemy {
    position: absolute;
    top: 0;
    left: 0;
    transition: all .3s ease;
}
.enemy:after {
    content:"";
    display:block;
    width:8px;
    height:8px;
    top: 0;
    left: 0;
    background: #999;
    border-radius:50%;
}

.enemy.nearby:after{
    background: #f00;
    transform:scale(1.8);
}

@keyframes backgroundscroll {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 100%;
    }
}

@keyframes moving {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: -128px;
    }
}

.player.left {
    animation: moving .2s steps(4) infinite;
    background-position-y: 0;
}

.player.right {
    animation: moving .2s steps(4) infinite;
    background-position-y: -32px;
}

.player.top {
    animation: moving .2s steps(4) infinite;
    background-position-y: -64px;
}

.player.bottom {
    animation: moving .2s steps(4) infinite;
    background-position-y: -96px;
}

#map {
    position: relative;
    left: 0;
    top: 0;
    width: 3200px;
    height: 3200px;
    transition: all .2s ease;
}

#map:after {
    clear: both;
    display: table;
    content: '';
}

#map > div {
    float: left;
    width: 32px;
    height: 32px;
}

#map > div:nth-child(100n) {
    clear: right;
}

.floor-0 {
    background: #ff0000;
}

.floor-1 {
    background: #0000ff;
}